@model AppViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Suppliers</h2>

<table class="table table-bordered">
    @foreach (var supplier in Model.Suppliers)
    {
        <tr>
            <td><input type="text" value="@supplier.Id.Trim()" class="sid" /></td>
            <td><input type="text" value="@supplier.Name.Trim()" class="sname" /></td>
            <td><input type="text" value="@supplier.Address.Trim()" class="saddress" /></td>
            <td>
                <button class="ssave">Save</button>
                <button class="sremove">Remove</button>
            </td>
        </tr>
    }
</table>

<h2>Items</h2>

<table>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Code</td>
            <td>@item.Desc</td>
            <td>@item.Rate</td>
        </tr>
    }
</table>